<template name='statCard'>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="dashboard-stat2 ">
      <div class="display">
        <div class="number">
          <h3 class="font-{{status}}">
            <span data-counter="counterup" data-value="7800">{{count}}</span>
            <small>/ {{total}}</small>
          </h3>
          <small class="font-{{status}}">{{title}}</small>
        </div>
        <div class="icon">
          <i class="icon-{{icon}} "></i>
        </div>
      </div>
    </div>
  </div>
</template>