<template name='register'>
  <div class="login">
    <div class="page-logo">
      <a id='page-logo-text'>
        <h1 class='logo'>VOLT PROJECT</h1>
      </a>
    </div>
    <div class="content">
      <form class="login-form">
        <h3 class="form-title font-green">Register</h3>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Username</label>
          <input id='username' class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username"
            name="email" />
        </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Password</label>
          <input id='password' class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
            name="password" /> </div>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Re-enter Password</label>
          <input id='password2' class="form-control form-control-solid
                                placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-enter Password" name="password"
          /> </div>
        <div class="form-actions">
          <input id='register' type="submit" class="btn green uppercase" value='Create account'>
        </div>
        <div class="alert alert-danger {{#unless error}}display-hide{{/unless}}">
          <button class="close" data-close="alert"></button>
          <span>{{error}}</span>
        </div>
        <div class="create-account">
          <p>
            <a id="login-btn" class="uppercase">Log in</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</template>
