<!-- 
  Author: Vince Dang
  Define the sidebar of the master layout.
  To be refactored into smaller components
 -->


<template name='sidebar'>
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
        style="padding-top: 20px">
        {{#with dashboard}} {{> sidebarItem}} {{/with}} {{#each menus}} {{> sidebarSection}} {{/each}}
      </ul>
    </div>
  </div>
</template>