<template name='tableEntry'>
  {{#each displayUsers}}
  <tr>
    <td class="highlight">
      <div class="success"></div>
      <a> {{ counter }} </a>
    </td>
    <td class="hidden-xs"> {{ user_email }} </td>
    <td> {{ user_name }} </td>
    <td> {{ user_phone }} </td>
    <td> {{ user_completed }} </td>
    <td> {{ user_role }} </td>
    <td>
        <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple del">
            <i class="fa fa-edit"></i>Delete</a>
    </td>
  </tr>
  {{/each}}
</template>
